meta(charset='utf-8')
meta(
	name='viewport',
	content='width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0'
)
meta(
	http-equiv='X-UA-Compatible',
	content='IE=edge, Chrome=1'
)
meta(
	http-equiv='Accept-CH',
	content='DPR, Viewport-Width, Width'
)
//- ^ https://www.smashingmagazine.com/2016/01/leaner-responsive-images-client-hints/
meta(
	http-equiv='cleartype',
	content='on'
)
meta(
	name='description',
	content='Davy | Fund Page'
)
meta(
	name='Author',
	content='Kurtosys Systems, info@kurtosys.com'
)
meta(
	name='theme-color',
	content='#b9002f'
)
