svg#ks-icon-chart(viewBox="0 0 16 12", width="16", height="12", xmlns="http://www.w3.org/2000/svg")
	title chart icon
	path.ks-icon-chart-full(
		d="M5 9H3v4h2V9zm3-4H6v8h2V5zm8 9H1V3H0v12h16v-1zm-5-7H9v6h2V7zm3-3h-2v9h2V4z",
		stroke="none",
		stroke-width="2",
		fill="#CCC",
		fill-rule="evenodd"
	)
