svg#ks-icon-facebook(viewBox="0 0 32 32", width="32", height="32", xmlns="http://www.w3.org/2000/svg")
	title Facebook icon
	g(fill="none", fill-rule="evenodd")
		circle.ks-icon-facebook-circle(
			cx="16",
			cy="16",
			r="16",
			fill="#CCC"
		)
		text.ks-icon-facebook-logo(
			font-family="FontAwesome",
			font-size="24",
			fill="#333"
		)
			tspan(x="9", y="26") 
