svg#ksys-svg__header--nippongrowthucits(viewBox="0 0 505 65", width="505", height="65", xmlns="http://www.w3.org/2000/svg")
	title Nippon Growth (UCITS) Fund banner
	g(fill="none", fill-rule="evenodd")
	path(
		d="M90 0h390v65H90z",
		fill="#DA4E52"
	)
	path(
		d="M480 0h25v65h-25z",
		fill="#E0676A"
	)
	path(
		d="M421 0h80l-10 65H223L421 0z",
		fill="#E72A2C"
	)
	path(
		d="M0 0h101.756836s33.104036 2.68644712 86.772461 22.5927734C242.197722 42.4990998 277 65 277 65H0V0z",
		fill="#D3252B"
	)
	path.ksys-svg__nippongrowthucits--dots(
		d="M137.736328 64.8798835S230.075195 15.9462889 315.125 9.41699216C400.174805 2.8876954 502.555664 47.3759762 502.555664 47.3759762",
		fill="#E1666C",
		stroke-width="4",
		stroke-linecap="round",
		stroke-dasharray="1,9,1,9",
		opacity=".79999995"
	)
