svg#ks-icon-file-pdf(viewBox="0 0 15 16", width="15", height="16", xmlns="http://www.w3.org/2000/svg")
	title PDF icon
	g.ks-icon-file-pdf(fill="none", fill-rule="evenodd")
		path(
			d="M2 0h8l.0363867 4H14v11H2V0z",
			stroke="#808184",
			fill="#e6e7e8"
		)
		path(
			d="M14 4v1H9V0h1l2 2 2 2z",
			stroke="#808184",
			fill="#e6e7e8"
		)
		path(
			d="M0 3h8v4H0z",
			fill="#b9002f"
		)
		path(
			d="M2 7h6v1H2z",
			fill="#c6c7c8"
		)
