svg#ks-icon-print(viewBox="0 0 32 32", width="32", height="32", xmlns="http://www.w3.org/2000/svg")
	title Print icon
	g(fill="none", fill-rule="evenodd")
		circle.ks-icon-print-circle(
			cx="16",
			cy="16",
			r="16",
			fill="#9b9b9b"
		)
		text.ks-icon-print-logo(
			font-family="FontAwesome",
			font-size="20",
			fill="#FFF"
		)
			tspan(x="7", y="23") 
