svg#ks-icon-file(viewBox="0 0 20 26", width="20", height="26", xmlns="http://www.w3.org/2000/svg")
	title document icon
	g(fill="none", fill-rule="evenodd")
	path.ks-icon-file-page(
		d="M0 0h10v10h10v16H0V0z",
		stroke="#000",
		stroke-width="2",
		fill="#CCC"
	)
	path.ks-icon-file-curl(
		d="M12 0l4 4 4 4h-8V0z",
		fill="#000"
	)
